{% extends "base.html" %}

{% block content %}
    <div class="content">
        <main class="main">
            {% block posts %}
            {% endblock posts %}
        </main>
        <aside class="aside">
            <section class="new-posts">
                <p class="section-name">Новые посты</p>
                <div class="section-line"></div>
                <div class="new-posts-content">
                    <div class="new-posts-post">
                        <img src="https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg" alt=""
                            class="new_posts-post-img">
                        <div class="new-posts-post__description">
                            <p class="section-date">14 июня 2019</p>
                            <h3><a href="#0" class="links new-post-name">10 мест, ради которых стоит проснуться на
                                    рассвете</a></h3>
                        </div>
                    </div>
                    <div class="new-posts-post">
                        <img src="https://netology-code.github.io/html-2-diploma/sources/images/151.jpg" alt=""
                            class="new_posts-post-img">
                        <div class="new-posts-post__description">
                            <p class="section-date">14 июня 2019</p>
                            <h3><a href="#0" class="links new-post-name">Йога для домашних</a></h3>
                        </div>
                    </div>
                    <div class="new-posts-post">
                        <img src="https://netology-code.github.io/html-2-diploma/sources/images/45.jpg" alt=""
                            class="new_posts-post-img">
                        <div class="new-posts-post__description">
                            <p class="section-date">14 июня 2019</p>
                            <h3><a href="#0" class="links new-post-name">как мы превратили классное место в балкон</a>
                            </h3>
                        </div>
                    </div>
                    <div class="new-posts-post">
                        <img src="https://netology-code.github.io/html-2-diploma/sources/images/501.jpg" alt=""
                            class="new_posts-post-img">
                        <div class="new-posts-post__description">
                            <p class="section-date">14 июня 2019</p>
                            <h3><a href="#0" class="links new-post-name">Кулинарный подход к науке</a></h3>
                        </div>
                    </div>
                    <div class="new-posts-post">
                        <img src="https://netology-code.github.io/html-2-diploma/sources/images/7.jpg" alt=""
                            class="new_posts-post-img">
                        <div class="new-posts-post__description">
                            <p class="section-date">14 июня 2019</p>
                            <h3><a href="#0" class="links new-post-name">лучшие прически для распущенных волос</a></h3>
                        </div>
                    </div>
                </div>
                <form action="#" class="form-search">
                    <div class="search">
                        <label>
                            <span class="visually-hidden-field">Поле поиска постов</span>
                            <input type="text" class="search-input" placeholder="Найти...">
                        </label>
                        <label>
                            <span class="visually-hidden-field">Кнопка поиска постов</span>
                            <button type="submit" class="search-button"></button>
                        </label>
                    </div>
                </form>
            </section>
            <section class="mailing-list">
                <p class="section-name">рассылка</p>
                <div class="section-line"></div>
                <form action="#" class="subscription-form">
                    <div class="sub">
                        <label>
                            <span class="visually-hidden-field">Поле ввода e-mail для подписки</span>
                            <input type="text" class="subscription-input" placeholder="Ваш email-адрес">
                        </label>
                        <label>
                            <span class="visually-hidden-field">Кнопка подписки</span>
                            <button class="subscription-button" type="submit">подписаться</button>
                        </label>
                    </div>
                </form>
            </section>
            <section class="tags">
                <p class="section-name">теги</p>
                <div class="section-line"></div>
                <ul>
                    <li class="tag">fashion</li>
                    <li class="tag">music</li>
                    <li class="tag">lifestyle</li>
                    <li class="tag">art</li>
                    <li class="tag">inertion</li>
                    <li class="tag">travel</li>
                    <li class="tag">food</li>
                    <li class="tag">health</li>
                </ul>
            </section>
            <section class="topics">
                <p class="section-name">темы</p>
                <div class="section-line"></div>
                <ul>
                    <li class="topic">Красота<sup class="topic-sup">12</sup></li>
                    <li class="topic">Здоровье<sup class="topic-sup">4</sup></li>
                    <li class="topic">Образ жизни<sup class="topic-sup">24</sup></li>
                    <li class="topic">Музыка<sup class="topic-sup">145</sup></li>
                    <li class="topic">Спорт<sup class="topic-sup">28</sup></li>
                    <li class="topic">Йога<sup class="topic-sup">62</sup></li>
                </ul>
            </section>
        </aside>
    </div>
{% endblock content %}