<footer class="footer" id="footer">
    <div class="social">
        <ul class="social-icons">
            <li>
                <span class="visually-hidden-icon">Профиль компании в pinterest</span>
                <a href="#0" class="social-icon social-icon__pinterest"></a>
            </li>
            <li>
                <span class="visually-hidden-icon">Профиль компании в tumblr</span>
                <a href="#0" class="social-icon social-icon__tumblr"></a>
            </li>
        </ul>
    </div>
    <div class="copy">
        <p>Copyright © 2009–2022 City Blog LLC.</p>
    </div>
</footer>