<section class="section">
    <div class="section__img">
        <img src="{{ post.image.url }}" alt="" class="section-img">
    </div>
    <div class="section__content">
        <div class="categories">
            <ul class="section-categories">
            {% for tag in post.tags.all %}
                <li><a href="{{ tag.get_absolute_url }}" class="links links-cat">{{ tag }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="section-container">
            <div class="section-name main-section">
                <h2><a href="{{ post.slug }}" class="links">
                        {{ post.title }}
                    </a></h2>
            </div>
            <!-- <div class="section-edit">
                <button>редактировать</button>
                <button>удалить</button>
            </div> -->
        </div>
        <div class="section-info">
            <span class="section-date">{{ post.date }}</span>
            <span class="section-autor">{{ post.autor }}</span>
        </div>
        <div class="section-description">
            <p>{{ post.description }}</p>
        </div>
    </div>
</section>